.themed-grid-col {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}

.themed-container {
  padding: 15px;
  margin-bottom: 30px;
  background-color: rgba(0, 123, 255, .15);
  border: 1px solid rgba(0, 123, 255, .2);
}


tbody tr.Green {
  background-color: #77dd77;
}
tbody tr.Red {
  background-color: #ff6666;
}
tbody tr.Orange {
  background-color: #fcae1e;
}

.alert-Orange{
  background-color:#fcae1e;
}
.alert-Red{
  background-color:#ff6666;
}
.alert-Green{
  background-color:#77dd77;
}